<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="skynet-discordbot ,discord ,bot, discord-bot">
    <meta name="description" content="discord server manager ">
    <meta name="author" content="rofson17 mehadi_hassan">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='/images/favicon.ico')}}">
    <title>SKYNET - About</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/about.css')}}">
</head>

<body class="bg-slate-800">
    <header class="w-screen h-screen text-white   flex justify-center items-center flex-col">
        <div class="flex justify-center items-center flex-col">
            <img src="https://cdn.discordapp.com/attachments/861860356845731872/1100844497308500018/IMG-20230425-WA0001.jpg"
                alt="authors" class="h-64  rounded-md mt-10">
            <div class="text-center">
                <h2 class="text-2xl text-blue-400 py-3">SKYNET -Developer </h2>
                <p class="md:w-96 w-80 px-3 " style="font-size: 14px;">My Discord bot is a comprehensive server management solution that empowers
                    admins to automate tasks, moderate conversations, and enhance user experiences. With features like
                    role management, channel creation, and user analytics, the bot streamlines administrative tasks and
                    optimizes community engagement. Additionally, it supports integration with third-party tools and can
                    be customized with custom scripts to fit specific needs. In short, it's a powerful and flexible
                    platform for managing Discord servers with ease and professionalism.</p>
                <div class="my-4 flex justify-around items-center">
                    <a href="http://facebook.com/rofson17" target="_blank">
                        <img src="{{url_for('static', filename='./images/facebook.png')}}" alt="facebook" class="h-10">
                    </a>
                    <a href="mailto:crypto.mehadi010@gmail.com">
                        <img src="{{url_for('static', filename='./images/gmail.png')}}" alt="gmail" class="h-10">
                    </a>
                    <a href="https://discord.gg/gytERBPx" target="_blank">
                        <img src="{{url_for('static', filename='./images/discord.png')}}" alt="discord" class="h-10">
                    </a>
                </div>
            </div>
        </div>
    </header>

</body>

</html>